body{
  font-family: 'Roboto', sans-serif;
}
.trigger{
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover{
  color: #1890ff;
}
.logo{
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout{
  height: 100vh;
}
.ant-layout-header{
  background: #ffffff;
}
.ant-layout-content{
  background: #ffffff;
}
.main-form{
  box-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.1);
}
.button{ 
  border-radius: 5px;
  width: 100px;
  border: none;
  padding: 10px;
}
.button:hover{
  background-color: #212529;
}
.main-div{
  width: 500px;
  height: 500px;
  margin: auto;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.logo {
  background-color: #ffd333;
  margin: 0;
  height: 64px;
}
main {
  height: 85vh;
  overflow-y: scroll ;
  background-color: transparent !important;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
.error {
  color: red;
  font-size: 12px;
}
.ant-menu-submenu-title .ant-menu-item-icon{
  color: #fff !important;
}
.error{
  color: red;
  font-size: 14px;
}